@model HandleErrorInfo
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <title></title>
</head>
<body>
<div>
    <h2 class="alert-dismissable alert alert-danger">با عرض پوزش -:(</h2>
    <h2 class="alert alert-danger">صفحه مورد نظر شما یافت نشد</h2>

</div>
</body>
</html>