@model IEnumerable<DomainModel.Post>

    @foreach (var item in Model)
    {
        <div class="panel panel-default">
            
            <div class="panel-heading text-right">
                @Html.ActionLink(item.PostTitle, "PostDetails", new {id = item.PostId})
                <p class="text-left" style="float: left">@Html.DisplayFor(itemData => item.PublishDate)</p>
            </div>
            <table class="table">
                <tr>
                    <td>
                        @Html.Raw(item.Content)
                    </td>
                </tr>
            </table>
        </div>

    }
